<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Navbar</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/pizzeria}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/pizzeria/pizze}">Pizze</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 me-3">
            <li class="nav-item">
              <a class="btn btn-light" th:href="@{/ingredienti}" th:classAppend="${current == 'ingredienti'} ? active : not-active">Aggiungi Ingredienti</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-light" th:href="@{/pizzeria/pizze/create}" th:classAppend="${current == 'create'} ? active : not-active">Aggiungi Pizza</a>
            </li>
          </ul>
          <form class="d-flex" role="search" th:action="@{/pizzeria/pizze}" method="get">
            <input class="form-control me-2" name="keyword" th:value="${keyword}" type="search" placeholder="Inserisci la pizza" aria-label="Inserisci la pizza">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>